<h1>HOME</h1>

<div id="content">
	<li>Work</li>
	<li>About</li>
	<li>Inspirations</li>
	<li>Bros</li>
	
	
	<form action="" method="post">
			<label for="title">Title</label>
			<input id="title" type="text" name="project[title]">
			
			<label for="description">Description</label>
			<input id="description" type="text" name="project[description]">
			
			
		
		 <button>submit</button>
	</form>
	
</div>