<a href="#/home">Back</a>

<h1>Projects</h1>

<% collection.forEach(function(project){ %>
	
	<li><a href="#/projects/<%= project.get("id") %>"><%= project.escape("title") %></a></li>
	
<% }) %>

<a href="#/media">See Media!</a>
