<form>
	<label for="title">Title</label>
	<input id="title" type="text" name="title">

	<label for="description">Description</label>
	<input id="description" type="text" name="description">

 <button>Create Project</button>
</form>