<form enctype="multipart/form-data">
	<label for="title">Title</label>
	<input id="title" type="text" name="title">

	<label for="description">Description</label>
	<input id="description" type="text" name="description">
	
	<label for="date">Year Created</label>
	<input id="date" type="text" name="year">
	
	<label for="height">Height</label>
	<input id="height" type="text" name="height">
	
	<label for="width">Width</label>
	<input id="width" type="text" name="width">

 <button>Create Project</button>
</form>