<form>
	<label for="title">Title</label>
	<input id="title" type="text" name="project[title]">

	<label for="description">Description</label>
	<input id="description" type="text" name="project[description]">

 <button>Create Project</button>
</form>