<h1><%= model.escape("title") %></h1>

<button class="back">Back</button>

<p><%= model.escape("description") %></p>

<p><%= model.escape("year") %></p>



<% if (model.get("media")){ %>

	<% model.get("media").forEach(function(medium){ %>

	<li><%= medium.name %></li>
	
	<% }) %>
	
<% } %>