<ul class="unstyled home-nav">
  <% pages.forEach(function(page){ %>
    <% if(page){ %>
      <li>
        <a href="/#/<%= page.escape("title") %>"><%= page.escape("title") %></a>
      </li>
    <% } %>


  <% }) %>
</ul>
