<h3>Media Index</h3>

<a href="#/home">Home</a>

<a href="#/projects">View All Projects</a>

<ul class="photo-list">
	<% collection.forEach(function(medium){ %>

		<li class="medium" style="display: table; height: 300px; #position: relative; overflow: hidden;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<a href="#/media/<%= medium.get("id") %>" style=" #position: relative; #top: -50%"><img src="<%= medium.get("avatar_styles").medium %>"></a>
			</div>
		</li>
	
	<% }) %>
</ul>