<h3>Media Index</h3>

<a href="#/home">Home</a>

<a href="#/projects">View All Projects</a>

<ul class="photo-list">
	<% collection.forEach(function(medium){ %>

		<li><a href="#/media/<%= medium.get("id") %>"><img src="<%= medium.get("avatar_styles").thumb %>" width=200 height="200"></a></li>
	
	<% }) %>
</ul>