<h3>Media Index</h3>

<%= JST["header"]({}) %>

<ul>
<% collection.forEach(function(medium){ %>

	<li><a href="#/media/<%= medium.get("id") %>"><img src="<%= medium.get("avatar") %>" width=200 height="200"></a></li>
	
<% }) %>
</ul>