<form>
	<label for="name">Name</label>
	<input id="name" type="text" name="name">
	
	<label for="description">Description</label>
	<input id="description" type="text" name="description">
	
	<button>Create New Media</button>	
</form>