<h1>Media Show</h1>

<a href="#/media">back</a>

<%= model.escape("name") %>

<% if (model.get("projects")){ %>

	<% model.get("projects").forEach(function(project){ %>

	<li><%= project.title %></li>
	
	<% }) %>
	
<% } %>