@import "shared/mixins";
@import "shared/colors";
@import "shared/variables";
@import "shared/file_upload";

div,
p,
h1,
input,
.form-control {
  font-size: $font-size;
}

.form-control {
  height: 2 * $font-size;
}

h1 {
  text-align: center;
}

.new-action {
  color: $new-green;
  &:hover {
    color: $new-green-darker;
  }
}
