textarea {
  width: 200px;
  height: 100px;
}

.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit_page, .new_page {
  margin: auto;
  width: 50%;
}
