<h1>Madeline Cann</h1>
<div class="container-fluid">
	<div id="content">
		<button class="btn btn-default">Work</button>
		<button class="btn btn-default">About</button>
		<button class="btn btn-default">Inspiration</button>
		<button class="btn btn-default">Bros</button>
	
	
		<form action="" method="post">
				<label for="title">Title</label>
				<input id="title" type="text" name="project[title]">
			
				<label for="description">Description</label>
				<input id="description" type="text" name="project[description]">
			
			
		
			 <button>submit</button>
		</form>
	
	</div>
</div>


<script>
	$(document).ready(function(){
		
		$("#content").on("click", function(event){
			$target = event.target
			if ($target.textContent === "Work" && !Backbone.History.started){
				Maddie.initialize();
			}
		})
		
	})

	
</script>



