<div class="container-fluid">
	<div id="content">
    <!-- Not Rendered if Javascript enabled -->
    <%# @pages.each do |page| %>
      <a href=""><%#= page.title %></a>
    <%# end %>




	</div>
</div>

<script>
  $(document).ready(function(){
    window.globalHash = { "currentUser": <%= current_user ? current_user.to_json.html_safe : false %> }
      Maddie.initialize();
  })


</script>



