<div class="container-fluid">
	<div id="content">
    <ul class="unstyled home-nav">
      <% @pages.each do |page| %>
        <li>
          <%= link_to page.title, "#{pages_url}/#{(page.url_key || "")}" %>
        </li>
      <% end %>
    </ul>




	</div>
</div>

<script>
  $(document).ready(function(){
    window.globalHash = { "currentUser": <%= current_user ? current_user.to_json.html_safe : false %> }
      // Maddie.initialize();
  })


</script>



