<div class="welcome container-fluid">
  <ul class="unstyled pages">
    <% @pages.each do |page| %>
      <li>
        <%= link_to page.title, page.url_key %>
      </li>
    <% end %>
    <br style="clear:both" />
  </ul>
</div>
