<div class="welcome container-fluid nav">
  <li class="col-xs-4">
    <%= link_to(
      "&lt;".html_safe,
      "/#{ PageOrderer.new(domain).page_before(@page).url_key }"
    ) %>
  </li>
  <li class="col-xs-4">
    <%= link_to "Menu", root_url %>
  </li>
  <li class="col-xs-4">
    <%= link_to(
      "&gt;".html_safe,
      "/#{ PageOrderer.new(domain).page_after(@page).url_key }"
    ) %>
  </li>

  <%= render partial: "shared/page_content", locals: { page: @page } %>
</div>
