<div class="welcome container-fluid">
  <ul class="page-view nav nav-stacked">
    <li><%= link_to "Menu", root_url %></li>
  </ul>

  <%= render partial: "shared/page_content", locals: { page: @page } %>
</div>
