<div class="welcome container-fluid">
  <ul class="page-view nav nav-stacked">
    <li><%= link_to "Menu", root_url %></li>
  </ul>

  <div class="paginate clearfix">
    <%= link_to(
      "<",
      "/#{ PageOrderer.new(domain).page_before(@page).url_key }",
      class: "pull-left"
    ) %>
    <%= link_to(
      ">",
      "/#{ PageOrderer.new(domain).page_after(@page).url_key }",
      class: "pull-right"
    ) %>
  </div>

  <%= render partial: "shared/page_content", locals: { page: @page } %>
</div>
