<div class="edit-index">
  <%= content_for :dialogue do %>
    <h1>Click a page to edit</h1>
  <% end %>

  <div class="welcome container-fluid">
    <ul class="pages nav nav-stacked">
      <% @pages.each do |page| %>
        <li>
          <%= link_to(
            page.title,
            edit_page_url(page)
          ) %>
        </li>
      <% end %>

      <h1>Other options</h1>

      <li>
        <%= link_to "Add a new page", new_page_path, class: "new-action" %>
      </li>

      <li>
        <%= link_to(
          "Swap order",
          new_order_swap_path,
          class: "new-action"  
        ) %>
      </li>
    </ul>
  </div>
</div>
