<% @pages.each do |page| %>
  <%= render partial: "page_form", locals: { page: page } %>
  <%= button_to(
    "Delete Page",
    page_url(page),
    method: :delete,
    class: "pull-right"
  ) %>
  <div class="welcome">
      <%= MarkdownHelper.new(page.body).render %>
  </div>
<% end %>

<h2>New Page</h2>
<%= render partial: "page_form", locals: { page: @page } %>
