<% @projects.each do |project| %>
  <a href="<%= project_url(project) %>">
    <p><%= project.title %></p>
    <p><%= project.description %></p>
    <%= image_tag(project.avatar.url(:medium)) %>
  </a>
<% end %>
