<div class="project-index">
  <% @projects.each do |project| %>
    <div class="project">
      <div><%= project.title %></div>
      <div><%= project.description %></div>
      <% project.photos.each do |photo| %>
        <div class="photo-thumb">
          <%= link_to project_url(project, photo_id: photo.id) do %>
           <%= image_tag(photo.avatar(:thumb)) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
