<table>
  <% @projects.each do |project| %>
    <tr><%= project.title %></tr>
    <% project.photos.each do |photo| %>
      <td><a href="<%= project_url(project) %>"><img src="<%= photo.avatar(:thumb) %>"></a></td>
    <% end %>
  <% end %>
</table>
