<div class="projects">
  <ul class="nav nav-stacked text-center">
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.title, project_url(project) %>
      </li>
    <% end %>
  </ul>

  <ul class="project-photo-thumbs nav nav-pills">
    <% @projects.each do |project| %>
      <% project.photos.each do |photo| %>
        <li class="photo">
        <%= link_to project_url(project, photo_id: photo.id) do %>
          <%= image_tag(photo.avatar(:thumb)) %>
        <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
