<form action="<%= projects_url %>" method="post" enctype="multipart/form-data">
	<%= auth_token %>
	
	<label for="title">Title</label>
	<input id="title" type="text" name="project[title]">

	<label for="description">Description</label>
	<input id="description" type="text" name="project[description]">
	
	<label for="date">Year Created</label>
	<input id="date" type="text" name="project[year]">
	
	<label for="avatar">Picture</label>
	<input id="avatar" name="project[avatar]" type="file">

 <button>Create Project</button>
</form>