<h1><%= @project.title %></h1>

<p><%= @project.description %></p>


<div class="main-photo"><div><%= image_tag(@project.avatar.url(:medium)) %></div></div>

<ul class="project-photos">
  <% if @project.photos.any? %>
    <% @project.photos.each do |photo| %>
      <li class="photo"><%= image_tag(photo.avatar.url(:medium)) %></li>
    <% end %>
  <% end %>
</ul>
