/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *=// require bootstrap.min
 *=// require jquery.Jcrop.min
 */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, h4, time, ul, li,
form, label, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
	list-style: none;
}


.home-nav li {
	text-align: center;
	font-size: 40px;
	display: block;
}

.home-nav li a {
	color: gray;
	text-decoration: none;
}

.home-nav li a:hover {
	color: #979797;
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.hide {
	display: none;
}

/*media index*/

.photo-list, .project-list {
	margin: auto;
	width: 1000px;
}

.photo-list li, .project-list li {
	float: left;
	margin: 10px;
}

/*FORM*/

form {
	width: 400px;
	margin: auto;
}

input[type="textarea"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"] {
	border: 1px solid black;
	font-size: 20px;
}

input[type="submit"], button, .button_to, .navbar ul li {
  display: block;
  cursor: pointer;
	display: block;
	width: 300;
	height: 300;
  margin: 0;

	font-color: #7F8FA0;
}

.submit > input, .cancel > input, button {
  position: relative;
  display: inline-block;
  background: #2E8AC3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 0 0 #226690;

	font-family: sans-serif;
	font-size: 20px;
}

.submit > input:hover,  {
  background: #3297D6;
}

.submit > input:active, button:active {
  top: 3px;
  box-shadow: none;
  background: #2D91E2;
}

label {
	display: block;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*SIGN IN FORM*/


/*projects inde*/

li.project, li.medium {
	height: 300px;
	width: 300px;
	background: black;
}

li.project a, li.medium a {
	width: auto;
	height: auto;
	margin: auto;
}

li.project a img, li.medium a img {
	display: block;
	margin: auto;
	margin-top: auto;
}

/*.middle {
	position: absolute;
}*/

@media only screen and (max-device-width: 480px) {
	body {
		width: 400px;
	}
}

.not-logged-in {
	display: none;
}
