/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *=// require bootstrap.min
 */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, h4, time, ul, li,
form, label, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.home-nav li {
	text-align: center;
	font-size: 40px;
	display: block;
}

.home-nav li a {
	color: gray;
	text-decoration: none;
}

.home-nav li a:hover {
	color: #979797;
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.hide {
	display: none;
}