/*show*/
.project-show {
  .project-photos {
    float: left;
    width: 250px;

    .photo {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  .right-panel {
    display: inline-block;
  }

  .text-box {
    text-align: center;
    width: 300px;
  }

  .main-photo {
    display: block;
    width: 300px;
  }

  .photo-thumb {
    margin: 10px;
  }
}

/*INDEX PAGE*/
.project-index {
  section.project-thumbs {
    width: 30%;
    float: left;
  }
  
  margin: auto;
  .photo-container {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
  }

  .photo-thumb {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .photo-medium {
    margin: auto;
  }
}
