/*show*/
.projects {
  .project-photo-thumbs {
    img {
      height: 50px;
      overflow: hidden;
      width: 50px;
    }
  }

  .text-box {
    width: 300px;
  }

  .main-photo {
    display: block;
    width: 300px;
  }

  .photo-medium {
    margin: auto;
  }
}
