@import "shared/mixins";
@import "shared/variables";

.welcome {
  text-align: center;

  div, li, ul, a, p {
    @include text-sizing($text-size, 1.3);
  }
  .pages {
    @include text-sizing($text-size, 1.0);
  }

  div a {
    display: block;
  }

  li a {
    display:block;
  }

  .page-title {
    font-weight: bold;
  }

  .page-body {
    div, li, ul, a, p { @include text-sizing(30px, 1.3); }
  }

  @media #{$desktop-screen} {
    .page-body {
      p {
        @include text-sizing(40px, 1.3);
      }
    }
  }
}
