.welcome {
  $text-size: 50px;

  .pages, .page-view {
    font-size: $text-size;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  li, p, a, div {
    min-height: $text-size;
    line-height: $text-size;
  }

  li a {
    display:block;
    font-size: $text-size;
  }
}
