@import "shared/mixins";

.welcome {
  $text-size: 50px;
  margin-top: $text-size;
  text-align: center;

  @include text-sizing($text-size);

  li a {
    display:block;
  }

  .page-title {
    font-weight: bold;
  }

  .page-body {
    @include text-sizing(0.5 * $text-size);
  }
}
