<div class="containter" id="content">
	<ul class="unstyled home-nav">
		<li><a href="#/work">Work</a></li>
		<li><a href="#/about">About</a></li>
		<li><a href="#/bros">Bros</a></li>
		<li><a href="#/inspiration">Inspiration</a></li>
	</ul>
</div>