<h1>HOME</h1>

<div id="content">
		<a href="#/work">Work</a>
		<a href="#/about">About</a>
		<a href="#/inspiration">Inspiration</a>
		<a href="#/bros">Bros</a>
	
	
	<form action="" method="post">
			<label for="title">Title</label>
			<input id="title" type="text" name="project[title]">
			
			<label for="description">Description</label>
			<input id="description" type="text" name="project[description]">
			
			
		
		 <button>submit</button>
	</form>
	
</div>